<h1>about header</h1>
<p>
Szanowni Państwo!<br><br>Bardzo dziękujemy za zainteresowanie tematyką dezinformacji w Polsce. Pierwsza odsłona portalu dotarła do ponad 140 milionów internautów w tydzień. Próba powołania tego serwisu okazała się sukcesem. O następnych krokach będziemy informować.<br><br>Redakcja dezinformacja.net<br></em><!--EndFragment--></span></div></div></div><div style="" id="col960footer" class="column col960footer"><div class="module module-text" style=""><div style=""><div style="text-align: center;" data-mce-style="text-align: center;">Copyright lewackie poglądy    
</p>