<div class="jumbotron">
<h1>Second Blood - portal dezinformacyjny</h1>
<p>test</p>
<p>-Dzień dobry, przestańcie dezinformować!</p>
<% if false %>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default btn-lg' %>
<%= link_to 'Main stash', root_path, class: 'btn btn-primary' %>
<% end %>
</div>

